// -------COLORS-------
$main-color: #000;
$background-color: #eee;
$hover-color: #ffbfcb;

// --------SIZES-------
$day-size: 100px;
$gap: 1px;
$border-width: 1px;
$paddings: 10px;
$columns: 7;

// ---container width---
$days-width: $day-size * $columns;
$day-width: $day-size + $gap;
$gaps-width: $gap * ($columns - 1);
$paddings-width: $paddings * 2;

// border уже включен в day-size из-за box-sizing: border-box
$container-width: $days-width + $gaps-width + $paddings-width;

// -----daysMAP-----
$start-days: (
  'start-day-mon': 0,
  'start-day-tue': 1,
  'start-day-wed': 2,
  'start-day-thu': 3,
  'start-day-fri': 4,
  'start-day-sat': 5,
  'start-day-sun': 6,
);
